.game {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #1c2a38;
  color: #fff;
  border: 6px solid #9fcbf7;
  border-radius: 20px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div {
  border: 6px solid #9fcbf7;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #34495e;
}

.header {
  border: 6px solid #9fcbf7;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  margin: 25px;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: 6px solid #9fcbf7;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  margin: 25px;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
}

.button:hover {
  color: #ffff00;
  opacity: 90%;
  animation: alternate(1s);
}
